@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Radio Canada", sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}

.blurd-effect {
    background: rgba(0, 0, 0, 0, 0.5);
    backdrop-filter: blur(7);
}